@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
* {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-weight: 700;
  font-size: 114px;
  line-height: 80%; }

h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%; }

h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%; }

h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%; }

a:link {
  color: white; }

a:visited {
  color: white; }

a:hover {
  color: #E47209;
  transition: 400ms; }

a:active {
  color: green;
  transition: 400ms; }

.logocontainer {
  color: white;
  width: 82px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 3px; }
  .logocontainer a:link {
    color: white; }
  .logocontainer a:visited {
    color: white; }
  .logocontainer a:hover {
    color: white; }
  .logocontainer a:active {
    color: white; }
  .logocontainer a .logo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    text-align: center; }
    .logocontainer a .logo div {
      position: relative; }
      .logocontainer a .logo div::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 20px;
        background: url("/Online-zoo/assets/icons/bamboo.svg") no-repeat;
        left: 6px;
        top: -3px;
        overflow: visible; }

header {
  background-color: black; }

.header_container {
  width: 1160px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  align-items: center; }

.header_nav ul {
  display: flex;
  align-items: center; }
  .header_nav ul li {
    padding-right: 58px; }
    .header_nav ul li:first-child {
      padding-right: 63px; }
    .header_nav ul li.logo {
      width: 82px;
      height: 52px;
      font-weight: 400;
      font-size: 19px;
      line-height: 120%;
      border: 1px solid white;
      border-radius: 2px;
      color: white;
      text-align: center;
      background-image: url(/assets/icons/logo.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80%;
      margin-right: 63px; }
    .header_nav ul li.open {
      color: #FE9013; }

.watch {
  background-image: url("/Online-zoo/assets/images/Giant Panda.png");
  background-size: cover;
  background-position: 0 -50px;
  background-repeat: no-repeat;
  height: 700px; }

.watch_content {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  text-transform: uppercase; }
  .watch_content .title {
    font-weight: 700;
    font-size: 106px;
    line-height: 75%;
    padding: 0px;
    z-index: 1;
    margin-top: 86px;
    width: 500px;
    color: white;
    text-align: center; }
    .watch_content .title span {
      color: #FFEE2E; }
  .watch_content .circle {
    z-index: -0;
    position: absolute;
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    margin-top: 12px;
    transform: translate(-110px, 0); }
  .watch_content button {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    text-transform: uppercase;
    color: white;
    height: 54px;
    width: 298px;
    border-radius: 25px;
    margin-top: 60px; }
    .watch_content button:hover {
      background: #E47209; }
    .watch_content button:active {
      background: green;
      transition: 400ms; }

.info {
  background-image: url("/Online-zoo/assets/images/flower_foto1.png");
  background-repeat: no-repeat;
  background-position: right center;
  overflow: visible;
  color: #333B41; }

.infoContainer {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 700px;
  padding-top: 140px; }

.info_foto {
  flex: 0 1 52.5%;
  background-image: url("/Online-zoo/assets/images/bamboo-cap.png");
  background-repeat: no-repeat; }

.info_text {
  padding-left: 87px;
  flex: 0 1 47.5%; }
  .info_text .body_text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%; }
  .info_text h4 {
    margin-top: 54px; }
  .info_text :last-child {
    margin-top: 34px; }

.animals {
  background: url("/Online-zoo/assets/images/strelitzia 1.png") right bottom no-repeat, url("/Online-zoo/assets/images/palm_foto.png") left bottom no-repeat;
  overflow: visible;
  margin: 0 auto;
  margin-top: 100px; }
  .animals .animals_container {
    display: flex;
    justify-content: center;
    align-items: center; }
    .animals .animals_container button {
      width: 62px;
      height: 62px;
      border-radius: 50%;
      background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
      margin: 20px;
      justify-content: center;
      align-items: center; }
      .animals .animals_container button img {
        width: 20px;
        height: 20px; }
      .animals .animals_container button:hover {
        background: #E47209; }
      .animals .animals_container button:active {
        background: green;
        transition: 400ms; }

.animals_slider {
  position: relative;
  display: grid;
  width: 1160px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 20px; }
  .animals_slider .card {
    height: 426px;
    border: 1px solid #E47209;
    border-radius: 5px; }
    .animals_slider .card .foto {
      height: 366px;
      overflow: hidden; }
    .animals_slider .card .text_conteiner {
      padding: 8px 12px 13px 16px;
      display: flex;
      justify-content: space-between; }
      .animals_slider .card .text_conteiner .text {
        position: relative;
        display: flex;
        flex-direction: column; }
        .animals_slider .card .text_conteiner .text .name {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 140%;
          text-transform: uppercase;
          color: #000000; }
        .animals_slider .card .text_conteiner .text .location {
          font-weight: 400;
          font-weight: 300;
          font-size: 15px;
          line-height: 120%; }
    .animals_slider .card .icon {
      background-repeat: no-repeat;
      width: 48px;
      height: 38px;
      background-position: center; }
    .animals_slider .card .icon1 {
      background-image: url("/Online-zoo/assets/icons/banana-bamboo_icon.svg"); }
    .animals_slider .card .icon2 {
      background-image: url("/Online-zoo/assets/icons/meet-fish_icon.svg"); }
    .animals_slider .card .icon3 {
      background-image: url("/Online-zoo/assets/icons/banana-bamboo_icon.svg"); }
    .animals_slider .card .icon4 {
      background-image: url("/Online-zoo/assets/icons/banana-bamboo_icon.svg"); }
    .animals_slider .card .icon5 {
      background-image: url("/Online-zoo/assets/icons/meet-fish_icon.svg"); }
    .animals_slider .card .icon6 {
      background-image: url("/Online-zoo/assets/icons/meet-fish_icon.svg"); }

.foto1 {
  background-image: url("/Online-zoo/assets/images/Rectangle 1.png"); }

.foto2 {
  background-image: url("/Online-zoo/assets/images/Rectangle 2.png"); }

.foto3 {
  background-image: url("/Online-zoo/assets/images/Rectangle 3.png"); }

.foto4 {
  background-image: url("/Online-zoo/assets/images/Rectangle 4.png"); }

.foto5 {
  background-image: url("/Online-zoo/assets/images/Rectangle 5.png"); }

.foto6 {
  background-image: url("/Online-zoo/assets/images/Rectangle 6.png"); }

.wraper {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: center; }
  .wraper .btn_choose {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    text-transform: uppercase;
    color: white;
    height: 54px;
    width: 298px;
    height: 54px;
    width: 298px;
    border-radius: 25px;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 100px; }
    .wraper .btn_choose:hover {
      background: #E47209; }
    .wraper .btn_choose:active {
      background: green;
      transition: 400ms; }

.feed {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding-top: 70px;
  padding-bottom: 100px; }

.feedContent {
  margin: 0 auto;
  width: 1160px;
  height: 835px;
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  padding-left: 99px;
  padding-top: 41px;
  padding-right: 58px;
  color: #333B41; }
  .feedContent h2 {
    color: #FE9013;
    text-align: center; }
  .feedContent h4 {
    margin-top: 30px; }
  .feedContent .feed_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-top: 40px; }
  .feedContent .feed_small_text {
    font-weight: 400;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    margin-top: 10px; }
    .feedContent .feed_small_text a {
      text-decoration: underline;
      text-decoration-color: #FE9013;
      color: #333B41; }
  .feedContent h3 {
    margin-top: 60px;
    text-align: center; }
  .feedContent .feed_how {
    margin-top: 40px;
    display: flex;
    justify-content: center; }
  .feedContent .card {
    width: 168px;
    margin-right: 30px; }
    .feedContent .card:last-child {
      margin-right: 0px; }
    .feedContent .card .text {
      margin-top: 30px;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%; }
    .feedContent .card .icon1 {
      background-image: url("/Online-zoo/assets/icons/pay.svg"); }
    .feedContent .card .icon2 {
      background-image: url("/Online-zoo/assets/icons/zoo.svg"); }
    .feedContent .card .icon3 {
      background-image: url("/Online-zoo/assets/icons/monkey.svg"); }
    .feedContent .card .icon {
      position: relative;
      width: 168px;
      height: 168px;
      background-repeat: no-repeat;
      background-color: white;
      background-position: center;
      border-radius: 5px;
      border: 1px solid #FE9013; }
  .feedContent .strela {
    margin-right: 30px;
    padding-top: 54px; }
  .feedContent .feed_button {
    margin-top: 60px;
    display: flex;
    justify-content: center; }
  .feedContent button {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    text-transform: uppercase;
    color: white;
    height: 54px;
    width: 298px;
    border-radius: 25px; }
    .feedContent button:hover {
      background: #E47209; }
    .feedContent button:active {
      background: green;
      transition: 400ms; }

.reviews {
  background-image: url("/Online-zoo/assets/images/leav_foto.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  overflow: visible;
  margin-top: 140px;
  padding-bottom: 180px; }

.reviews_container {
  width: 1160px;
  margin: 0 auto;
  overflow: hidden; }

.reviews_text {
  text-align: center; }

.reviews_sliader {
  height: 450;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 47px;
  overflow-x: auto; }
  .reviews_sliader::-webkit-scrollbar {
    height: 8px;
    border-radius: 5px;
    border: 1px solid #FE9013; }
  .reviews_sliader::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #FE9013; }
  .reviews_sliader::-webkit-scrollbar-track {
    background: black;
    border: 4px solid transparent;
    background-clip: content-box; }
  .reviews_sliader .card {
    flex: 0 0 auto;
    max-width: 267px;
    margin: 10px;
    padding: 16px;
    border-radius: 20px;
    border: 2px solid rgba(243, 169, 248, 0.66);
    transform: translate(560px, 0); }
    .reviews_sliader .card .title {
      display: flex; }
      .reviews_sliader .card .title .icon {
        width: 37px;
        height: 37px;
        background-repeat: no-repeat; }
      .reviews_sliader .card .title .icon1 {
        background-image: url("/Online-zoo/assets/icons/user_icon.svg"); }
      .reviews_sliader .card .title .icon2 {
        background-image: url("/Online-zoo/assets/images/Ellipse 2.png"); }
      .reviews_sliader .card .title .icon3 {
        background-image: url("/Online-zoo/assets/images/Ellipse 3.png"); }
      .reviews_sliader .card .title .icon4 {
        background-image: url("/Online-zoo/assets/images/Ellipse 4.png"); }
      .reviews_sliader .card .title .name {
        margin-left: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%; }
        .reviews_sliader .card .title .name .location {
          font-weight: 300;
          font-size: 15px;
          line-height: 120%;
          color: #BDBDBD; }
    .reviews_sliader .card .text {
      margin-top: 11px;
      font-weight: 400;
      font-weight: 300;
      font-size: 15px;
      line-height: 120%;
      color: #767474; }

.reviews_button {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  text-transform: uppercase;
  color: white;
  height: 54px;
  width: 298px;
  border-radius: 5px;
  margin-top: 31px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .reviews_button:hover {
    background: #E47209; }
  .reviews_button:active {
    background: green;
    transition: 400ms; }

footer {
  background-color: #000000;
  padding-top: 40px; }

.footer_container {
  width: 1160px;
  margin: 0 auto; }

.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .subscribe .subscribe_input h4 {
    color: white; }
  .subscribe .subscribe_input .input {
    display: flex;
    align-items: center;
    margin-top: 14px; }
  .subscribe .subscribe_input input {
    width: 228px;
    height: 42px;
    border: 1px solid #FE9013;
    border-radius: 2px;
    padding: 10px;
    background-color: #000000;
    color: #BDBDBD;
    margin-right: 10px; }
  .subscribe .subscribe_input button {
    width: 129px;
    height: 42px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    background-color: #F1F3F2;
    border: 1px solid #333B41; }
    .subscribe .subscribe_input button:hover {
      color: #E47209;
      border: 1px solid #E47209; }
    .subscribe .subscribe_input button:active {
      color: green;
      border: 1px solid green;
      transition: 400ms; }

.donate_button {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  text-transform: uppercase;
  color: white;
  height: 54px;
  width: 298px;
  margin-top: 36px;
  border-radius: 5px; }
  .donate_button:hover {
    background: #E47209; }
  .donate_button:active {
    background: green;
    transition: 400ms; }

.footer_nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: flex-end;
  margin-top: 44px;
  padding-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: white; }
  .footer_nav .social ul {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px; }
    .footer_nav .social ul li a {
      display: flex;
      align-items: center; }
      .footer_nav .social ul li a div {
        width: 26px;
        height: 26px;
        background-color: #767474;
        border-radius: 50%;
        margin-right: 12px;
        background-repeat: no-repeat;
        background-position: center; }
      .footer_nav .social ul li a .facebook {
        background-image: url("/Online-zoo/assets/icons/facebook.svg"); }
      .footer_nav .social ul li a .twitter {
        background-image: url("/Online-zoo/assets/icons/twitter.svg"); }
      .footer_nav .social ul li a .instagram {
        background-image: url("/Online-zoo/assets/icons/instagram.svg"); }
      .footer_nav .social ul li a .youtube {
        background-image: url("/Online-zoo/assets/icons/youtube.svg"); }
      .footer_nav .social ul li a:link {
        color: white; }
      .footer_nav .social ul li a:visited {
        color: white; }
      .footer_nav .social ul li a:hover {
        color: #E47209;
        transition: 400ms; }
      .footer_nav .social ul li a:active {
        color: green;
        transition: 400ms; }
  .footer_nav nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    .footer_nav nav ul .open {
      color: #E47209; }
  .footer_nav .author {
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: white; }

header {
  background-color: black; }

.header_container {
  width: 1160px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  align-items: center; }

.header_nav ul {
  display: flex;
  align-items: center; }
  .header_nav ul li {
    padding-right: 58px; }
    .header_nav ul li:first-child {
      padding-right: 63px; }
    .header_nav ul li.logo {
      width: 82px;
      height: 52px;
      font-weight: 400;
      font-size: 19px;
      line-height: 120%;
      border: 1px solid white;
      border-radius: 2px;
      color: white;
      text-align: center;
      background-image: url(/assets/icons/logo.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80%;
      margin-right: 63px; }
    .header_nav ul li.open {
      color: #FE9013; }

.panda {
  background-image: url("/Online-zoo/assets/images/Giant Panda.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 390px; }

.donate {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding-top: 40px;
  padding-bottom: 180px; }

.donate_container {
  width: 1160px;
  margin: 0 auto; }

.donate_info_title {
  color: white; }

.donate_info_text {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-top: 10px;
  text-align: left; }

.donate_title {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #FE9013;
  margin-top: 40px; }

.donate_wraper {
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  margin-top: 60px;
  padding: 40px 92px 62px; }

.donate_feed_title {
  color: #FE9013;
  text-align: center; }

.donate_feed_text {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin-top: 20px; }

.donate_info_graphic {
  margin-top: 60px;
  background-color: #929699;
  height: 400px; }

.donate_pagination {
  width: 976px; }

.input_mone {
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .input_mone form {
    display: flex;
    flex-direction: column;
    align-items: center; }

.donate_mone {
  width: 268px;
  height: 54px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #929699;
  border-radius: 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding: 16px 0px 16px 9px; }

.donate_format_pay {
  margin-top: 25px;
  display: flex;
  justify-content: space-around; }

.donate_feed_footer {
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: black; }

.btn_feed {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  text-transform: uppercase;
  color: white;
  height: 54px;
  width: 298px;
  border-radius: 25px;
  margin-top: 30px; }
