.animals {
  z-index: 1;
  background: url('/Online-zoo/assets/images/strelitzia\ 1.png') right bottom / 35vh no-repeat, 
              url('/Online-zoo/assets/images/palm_foto.png') left bottom / 25vh no-repeat;
              padding-bottom: 100px;
}
@media (max-width:1439px) {
  .animals{
    background-size: 30vh;
    padding-bottom: 100px;
  }
}
.animals_container{
  width: 100%;
  max-width: 1152px;
  position: relative;
  margin: 0 auto;
}
@media (max-width:1439px) {
  .animals_container{
    max-width: 942px;
  }
}
@media (max-width:999px) {
  .animals_container{
    max-width: 618px;
  }
}
.animals_corusel{
  overflow: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.animals_corusel::-webkit-scrollbar {
  height: 0;
}
.animals_corusel_row{
  overflow: visible;
  padding: 10px 0;
  display: grid;
  grid-gap: 30px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}
@media (max-width:1439px) {
  .animals_corusel_row{
    grid-gap: 30px;
  }
}
@media (max-width:999px) {
  .animals_corusel_row{
    grid-gap: 30px;
  }
}
@media (max-width:639px) {
  .animals_corusel_row{
    display: block;
    height: 1420px;
    overflow: hidden;
  }
  .animals_corusel2{
    display: none;
  }
}

.animals_card {
  width: 364px;
  height: 424px;
  border: 1px solid orange;
  border-radius: 10px;
  overflow: hidden;
  &:hover {
    z-index: 100;
    overflow: visible;
    border: none;
    transition: all 0.4s ease;
    & .animals_card_foto {
      transform: scale(1.05);
      overflow: visible;
      border-radius: 10px;
      &::before {
        overflow: visible;
        opacity: 1;
        border-radius: 10px;
      }
    }
    & .animals_card_text{
      transition: all 0.4s ease;
      transform: translateY(-60px);
      color: white;
    }
  }
}

.animals_card_foto{
  position: relative;
  width: 364px;
  height: 366px;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
    opacity: 0;
  }
}
.animals_foto1{
  background: url('/Online-zoo/assets/images/Rectangle\ 1.png') center / cover no-repeat;
}
.animals_foto2{
  background: url('/Online-zoo/assets/images/Rectangle\ 2.png') center / cover no-repeat;
}
.animals_foto3{
  background: url('/Online-zoo/assets/images/Rectangle\ 3.png') center / cover no-repeat;
}
.animals_foto4{
  background: url('/Online-zoo/assets/images/Rectangle\ 4.png') center / cover no-repeat;
}
.animals_foto5{
  background: url('/Online-zoo/assets/images/Rectangle\ 5.png') center / cover no-repeat;
}
.animals_foto6{
  background: url('/Online-zoo/assets/images/Rectangle\ 6.png') center / cover no-repeat;
}
.animals_foto7{
  background: url('/Online-zoo/assets/images/Rectangle\ 7.png') center / cover no-repeat;
}
.animals_foto8{
  background: url('/Online-zoo/assets/images/Rectangle\ 8.png') center / cover no-repeat;
}

.animals_card_text{
  padding: 8px 12px 11px 16px;
  display: flex;
  justify-content: space-between;
}

.animals_card_name{
  @include btn_text;
}
.animals_card_location{
 @include text_small;
}
.animals_card_icon{
  width: 50px;
  height: 40px;
}

.icon_vegan{
  background: url('/Online-zoo/assets/icons/banana-bamboo_icon.svg') no-repeat;
}
.icon_meet{
  background: url('/Online-zoo/assets/icons/meet-fish_icon.svg') no-repeat;
}

.animals_btns{
  display: flex;
  justify-content: space-between;
  margin: 0 -60px;
  transform: translateY(-30px);
}
.animals_corusel2{
  margin-top: -60px
}

.animals_slider_btn{
  @include btn;
  @include btnInt;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row2{
  margin-top: 20px
}

@media (max-width:1439px) {
  .animals {
    background: url('/Online-zoo/assets/images/strelitzia\ 1.png') right bottom / 29vh  no-repeat, 
                url('/Online-zoo/assets/images/palm_foto.png') 0% bottom / 16vh  no-repeat;
  }
  .animals_btns{
    position: static;
    justify-content: center;
    margin: 0;
    transform: translateY(0px);
    padding: 0;
    max-width: 100%;
  }
  .animals_card{
    height: 352px;
    width: 294px;
  }
  .animals_card_foto{
    width: 294px;
    height: 294px;
  }
  .animals_slider_btn{
    margin: 0 85px;
  }
  .animals_container{
    position: relative;
  }
  .animals_corusel2{
    margin-top: 0px
  }
}

@media (max-width:999px) {
  .animals {
    background: url('/Online-zoo/assets/images/strelitzia\ 1.png') right bottom / 26vh no-repeat, 
                url('/Online-zoo/assets/images/palm_foto.png') left bottom / 20vh no-repeat;
  }
  .animals_slider_btn{
    margin: 0 15px;
  }
  .animals_card{
    width: 294px;
    height: 332px;
  }

  .animals_card_foto{
    width: 292px;
    height: 267px;
  }
}

.btn_choose {
  @include btn;
  @include btnInt;
  @include btn_text;
  height: 54px;
  width: 298px;
  border-radius: 25px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 80px;
}

@media (max-width:1439px) {
  .btn_choose{
    margin-top: 80px;
  }
}
@media (max-width:999px) {
  .btn_choose{
    margin-top: 65px;
    margin-bottom: 100px;
  }
}
@media (max-width:639px) {
  .animals{
    background: url('/Online-zoo/assets/images/strelitzia\ 1.png') right bottom / 16vh no-repeat, 
    url('/Online-zoo/assets/images/palm_foto.png') left bottom / 8vh no-repeat;
  }
  .animals_btns{
    display: none;
  }
  .animals_card{
    width: 285px;
    height: 337px;
    margin: 0 auto 16px;
    & .animals_card_foto{
      background-size: cover;
      width: 100%;
      height: 285.24px;
    }
  }
  .btn_choose{
    margin: 0px auto;
  }
}