header {
  background-color: black;
}
.header_container{
  width: 1160px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  align-items: center;
}

.header_nav {
  & ul {
    display: flex;
    align-items: center;
    & li {
      padding-right: 58px;
      &:first-child {
        padding-right: 63px;
      }
      &.logo {
        @include logo;
        margin-right: 63px;
      }
      & a {
        &.open {
          color: #FE9013;
        }
      }

    }
  } 
} 
.panda {
  background-image: url('/Online-zoo/assets/images/Giant\ Panda.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 390px;
}
.donate{
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding-top: 40px;
  padding-bottom: 180px;
}
.donate_container {
  width: $Container;
  margin: 0 auto;
}
.donate_info_title {
  color: white;
}
.donate_info_text {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-top: 10px;
  text-align: left;
}
.donate_title {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #FE9013;
  margin-top: 40px;
}
.donate_wraper {
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  margin-top: 60px;
  padding: 40px 92px 62px;
}

.donate_feed_title {
  color: #FE9013;
  text-align: center;
}
.donate_feed_text {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin-top: 20px;
}


.donate_info_infographics{
  padding-top: 80px;
  margin: 0 auto;
  width: 532px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infographics_contaner{
  margin-right: 10px;
  text-align: center;
}
.infographics_day{
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
}
.infographics_text{
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}
.infographics_x{
  margin-top: 40px;
  background: url('/Online-zoo/assets/icons/x_icon.png') no-repeat;
  background-position: center;
  width: 14px;
  height: 14px;
  margin-right: 64px;
}
.infographics_svg{
  width: 284px;
  height: 246px;
  background: url('/Online-zoo/assets/icons/panda_svg.svg') no-repeat;
  background-position: center;
}

.input_money{
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.pay_container{
  width: 268px;
  height: 54px;
  border: 1px solid #929699;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.pay_input{
  padding-left: 10px;
  height: 54px;
  border: 0px;
  width: 80%;
  background-color: rgba($color: #000000, $alpha: 0.0);
}
.dollar{
  padding-right: 10px;
}
.donate_format_pay {
  width: 268px;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  & label {
    display: flex;
    align-items: center;
  }
}
.format_pay{
  display: none;
}
.input_radio {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #FE9013;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 16px;
    height: 16px;
    background-color: $color_active;
    border-radius: 50%;
    opacity: 0;
    transition: 200ms;
  }
}
.format_pay:checked + .input_radio::before{
  opacity: 1;
}

.input_text {
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}
.donate_feed_footer {
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: black;
}
.btn_feed{
  @include btn;
  border-radius: 25px;
  margin-top: 30px;
}