@import '_footer';



.panda {
  background-image: url('/Online-zoo/assets/images/Giant\ Panda.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 390px;
}
.donate{
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding-top: 40px;
  padding-bottom: 180px;
}
.donate_container {
  margin: 0 auto;
}
.donate_info_title {
  color: white;
}
.donate_info_text {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-top: 10px;
  text-align: left;
}
.donate_title {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #FE9013;
  margin-top: 40px;
}
.donate_wraper {
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  margin-top: 60px;
  padding: 40px 5vw 62px;
}

.donate_feed_title {
  color: #FE9013;
  text-align: center;
}
.donate_feed_text {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin-top: 20px;
  text-align: center;
}

.donate_info_infographics{
  padding-top: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infographics_contaner{
  margin-right: 10px;
  text-align: center;
}
.infographics_day{
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
}
.infographics_text{
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}
.infographics_x{
  margin-top: 40px;
  background: url('/Online-zoo/assets/icons/x_icon.png') no-repeat;
  background-position: center;
  width: 14px;
  height: 14px;
  margin-right: 64px;
}
.infographics_svg{
  width: 284px;
  height: 246px;
  background: url('/Online-zoo/assets/icons/panda_svg.svg') no-repeat;
  background-position: center;
}

.input_money{
  margin: 0 auto;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.amount{
  margin-top: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding: 5px;
}
.pay_container{
  width: 268px;
  height: 54px;
  border: 1px solid #929699;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.pay_input{
  padding-left: 10px;
  height: 54px;
  border: 0px;
  width: 80%;
  background-color: rgba($color: #000000, $alpha: 0.0);
}
.dollar{
  padding-right: 10px;
}
.donate_format_pay {
  width: 268px;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  & label {
    display: flex;
    align-items: center;
  }
}
.format_pay{
  display: none;
}
.input_radio {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #FE9013;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 16px;
    height: 16px;
    background-color: $color_active;
    border-radius: 50%;
    opacity: 0;
    transition: 200ms;
  }
}
.format_pay:checked + .input_radio::before{
  opacity: 1;
}

.input_text {
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}
.donate_feed_footer {
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: black;
}
.btn_feed{
  @include btn;
  border-radius: 25px;
  margin-top: 30px;
  @include btnInt;
}

@media (max-width:1439px) {
  .donate{
    padding-bottom: 30px;
  }
  .donate_info_text{
    margin-top: 30px;
  }
  .donate_wraper{
    margin-top: 40px;
  }
  .donate_wraper{
    padding: 20px 5vw 46px;;
  }
  .donate_feed_text{
    margin-top: 10px;
  }
  .donate_info_infographics{
    padding-top: 60px;
  }
  .input_money{
    margin-top: 92px;
  }
}
@media (max-width:999px) {
  .panda{
    height: 335px;
   }
   .donate{
    padding: 20px 0 46px 0;
   }
   .donate_info_title{
    font-size: 24px;
   }
   .donate_info_text{
    font-size: 16px;
    margin-top: 20px;
   }
   .donate_title{
    font-size: 24px;
    margin-top: 30px;
   }
   .donate_wraper{
    margin-top: 30px;
    padding: 20px 0;
   }
   .donate_feed_title{
    margin-top: 0;
   }
   .donate_feed_text{
    font-size: 16px;
    margin-top: 10px;
   }
    .donate_info_infographics{
      padding-top: 20px;
    }
    .infographics_x{
      margin-right: 35px;
    }
    .amount{
      margin-top: 4px;
      font-size: 16px;
    }
    .input_money{
      margin-top: 85px;
    }
    .pay_container{
      width: 180px;
    }
    .donate_format_pay{
      margin-top: 25px;
    }
    .btn_feed{
      margin-top: 25px;
    }
}
@media (max-width:639px) {
 .panda{
  height: 187px;
 }
 .donate{
  padding: 30px 0 0 0;
 }
 .donate_info_title{
  font-size: 24px;
 }
 .donate_info_text{
  font-size: 16px;
  margin-top: 20px;
 }
 .donate_title{
  font-size: 24px;
  margin-top: 30px;
 }
 .donate_wraper{
  margin-top: 30px;
  padding: 20px 0;
 }
 .donate_feed_title{
  margin-top: 0;
 }
 .donate_feed_text{
  font-size: 16px;
  margin-top: 10px;
 }
  .donate_info_infographics{
    padding-top: 20px;
  }
  .infographics_day{
    font-weight: 500;
    font-size: 40px;
    line-height: 80%;
  }
  .infographics_text{
    font-weight: 400;
    font-size: 9.02255px;
    line-height: 140%;
}
  .infographics_svg{
    width: 160.15px;
    height: 138.72px;
    background-size: 100%;
  }
  .infographics_x{
    margin-right: 35px;
  }
  .amount{
    margin-top: 4px;
    font-size: 16px;
  }
  .input_money{
    margin-top: 55px;
  }
  .pay_container{
    width: 180px;
  }
  .donate_format_pay{
    margin-top: 25px;
  }
  .btn_feed{
    margin-top: 25px;
  }
}


.donate_dots{
  position: relative;
  width: 100%;
  margin-top: 10px;
  height: 27px;
  background-color: #404950;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.line {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 57vw;
  height: 2px;
  background: #72828E;
  border-radius: 2px;
}
.dots_container{
  width: 65vw;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10px;
  overflow: visible;
}
.dots_label{
  content: '';
  position: relative;
  color: #333B41;
  width: 100vw;
  height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  & svg {
    fill: #929699;
  }
  &:hover {
    color: #FE9013;
    & svg {
      fill: #FE9013;
    }
  }
}

.dot_radio{
  display: none;
}

.dot{
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $c1;

  &::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 2px solid $color_hover;
    outline-offset: -10px;
    border: 2px solid $color_hover;
    opacity: 0;
    transition: 200ms;
  }
}

.sum{
  display: flex;
  align-items: center;
  position: absolute;
  transform: translate(21px, 20px);
  margin-left: -30px;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;

}
.dot_radio:checked + .dot::before{
  opacity: 1;
}

@media (max-width:1439px) {
  .dots_container{
    width: 90vw;
  }
  .line {
    width: 77vw;
  }
  .dots_label{
    &:nth-child(-1n+1) {
      display: none;
      width: 9vw;
    }
  }
}
@media (max-width:999px) {
  .dots_container{
    width: 92vw;
  }
  .line{
    width: 74vw;
  }
  .dots_label{
    &:nth-child(-1n+3) {
      display: none;
    }
  }
}
@media (max-width:639px) {
  .donate_dots{
    height: 14px;
  }
  .line{
    width: 80vw;
  }
  .dots_container{
    width: 100vw;
    height: 5px;
  }
  .dots_label{
    height: 5px;
    width: 15%;
    &:nth-child(-1n+3) {
      display: none;
    }
  }
  .dot{
    width: 5px;
    height: 5px;

    &::before{
      width: 20px;
      height: 20px;
      outline: 1px solid $color_hover;
      outline-offset: -5px;
      border: 1px solid $color_hover;
      opacity: 0;
      transition: 200ms;
    }
  }
  .sum{
    font-size: 13px;
    & svg {
      width: 5px;
      height: 10px;
    }
  }
}
