header {
  background-color: black;
  z-index: 1;
  position: relative;
}

.header_container{
  margin: 0 auto;
  height: 80px;
  display: flex;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  align-items: center;
}

@media (max-width:999px) {
  .header_container{
    height: 34px;
  }
}

.logo_head{
  margin-right: 63px;
}

.header_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  & ul {
    display: flex;
    align-items: center;
    & li {
      padding-right: 58px;
      &.open {
        color: #FE9013;
      }
    }
  } 
} 
@media (max-width:1439px) {
  .header_nav{
    & ul {
      & li {
        padding-right: 49px;
      }
    }
  }
}

.header_autor{
  justify-self: end;
}

.header_burger{
  display: none;
}

@media (max-width:999px) {
  .logo_head{
    margin: 0;
    padding: 0;
    width: 50px;
    transform: scale(77%);
  }
  .header_nav{
    display: none;
  }
  .header_container {
    justify-content: space-between;
  }
  .header_burger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18px;
    height: 10px;
    position: relative;
    & span {
      content: '';
      background-color: $color_secondory;
      width: 100%;
      height: 2px;
      border-radius: 2px;
    }
    &::before{
      content: '';
      background-color: $color_secondory;
      width: 100%;
      height: 2px;
      border-radius: 2px;
    }
    &::after{
      content: '';
      background-color: $color_secondory;
      width: 100%;
      height: 2px;
      border-radius: 2px;
    }
  }

}