
.reviews {
  background-image: url('/Online-zoo/assets/images/leav_foto.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  overflow: visible;
  z-index: 10;
  position: relative;
  overflow: visible;
}

.reviews_container{
  margin: 0 auto;
  overflow: hidden;
  padding-top: 145px;
  max-width: 1160px;
  transition: all 1s ease;
}
@media (max-width:1439px){
  .reviews_container{
    max-width: 945px;
  }
}
.reviews_title{
  text-align: center;
}
//.reviews_slider_container{
//  margin: 0 auto;
//  width: 1175px;
//}
//@media (max-width:1439px) {
//  .reviews_slider_container{
//    width: 950px;
//  }
//}
.reviews_sliader {
  padding-top: 37px;
  height: 450;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: auto;
  transition: all 0.2s ease;
  &::-webkit-scrollbar {
    display: none;
  }
}

.reviews_card {
  flex: 0 0 auto;
  width: 266px;
  height: 391px;
  margin: 10px 24px 20px 5px;
  padding: 16px;
  position: relative;
  background: #F1F3F2;
  border-radius: 20px;
  transition: all 0.3s;
  &::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    border-radius: 20px;
    z-index: -1;
  }
}


.reviews_card_title {
  display: flex;
  & .icon {
    width: 37px;
    height: 37px;
    background-repeat: no-repeat;
  }
  & .icon1 {
    background-image: url('/Online-zoo/assets/icons/user_icon.svg');
  }
  & .icon2 {
    background-image: url('/Online-zoo/assets/images/Ellipse\ 2.png');
  }
  & .icon3 {
    background-image: url('/Online-zoo/assets/images/Ellipse\ 3.png');
  }
  & .icon4 {
    background-image: url('/Online-zoo/assets/images/Ellipse\ 4.png');
  }
}

.reviews_card_name{
  margin-left: 10px;
  @include text;
}
.reviews_card_location{
  font-size: 14px;
}

.reviews_card_text{
  @include text_small;
  margin-top: 3px;
  color: #767474;
}

.revives_scroll{
  transition: all 1s ease;
  display: block;
  -webkit-appearance: none;
  background-color: #F1F3F2;
  width: 600px;
  height: 8px;
  border-radius: 5px;
  border: 1px solid #FEBDABBD;
  margin: 0 auto;
  outline: 0;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #FE9013;
    width: 115px;
    height: 6px;
    border-radius: 2px;
    cursor: pointer;
    transition: .3s ease-in-out;
    padding: 0;
    margin: 0;
  }
}

@media (max-width:999px){
  .revives_scroll{
    display: none;
  }
}

.reviews_button {
  @include  btn;
  border-radius: 5px;
  margin-top: 31px;
  margin-bottom: 182px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include btnInt;
}

@media (max-width:1439px) {
  .reviews{
    background-size: 15vh;
  }
  .reviews_container{
    padding-top: 100px;
  }
  .reviews_sliader{
    padding-top: 21px;
    
  }
  .reviews_button{
    margin-top: 52px;
    margin-bottom: 140px;
  }
  .reviews_card{
    margin: 10px 24px 20px 5px;
    width: 293px;
    height: 391px;
  }
}

@media (max-width:999px) {
  .reviews{
    background-size: 10vh;
  }
  .reviews_container {
    padding-top: 60px;
  }
  .reviews_sliader {
    display: block;
    overflow: hidden;
    height: 390px;
    padding-top: 29px;
  }
  .reviews_card {
    flex: 0 0 auto;
    width: 99%;
    height: 108px;
    margin: 3px 2px 15px 4px;
    padding: 14px 15px 10px 9px;
    background: #F1F3F2;
    border-radius: 20px;
  }
  .reviews_card_wraper{
    max-height: 100%;
    overflow: hidden;
  }
  .reviews_button{
    right: 50%;
    margin: 40px auto 80px;
    width: 241px;
  }
}

@media (max-width:639px) {
  .reviews{
    background-size: 5vh;
  }
  .reviews_container{
    padding-top: 30px;
    width: 100vw;
  }
  .reviews_sliader{
    padding-top: 20px;
    width: 90vw;
  }
  .reviews_card{
    width: 88vw;
    margin: 2px 0px 16px 2px;
  }
  .reviews_button{
    right: 50%;
    margin: 15px  auto 60px;
  }
}

@media (max-width:999px){
  .modal{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 267px;
    height: 391px;
    z-index: 50;
    border: 2px solid salmon;
    &::before{
      background: none;
    }
    &::after{
    }
    & .reviews_card_wraper{
    }
  }
  .overlay{
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.8;
  }
  .x{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(150px, -185px);
    content: '';
    width: 18px;
    height: 18px;
    background: url('/Online-zoo/assets/icons/x_icon.png') no-repeat;
    z-index: -1;
    transition: all 0.3s;
  }
}