
//цвета
$color_dominant: black;
$color_secondory: white;
$color_accent: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$color_active: green;
$color_hover: #E47209;
$color_misstrice: red;
$c1: #FFEE2E;
$dominant_gradient:  linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);;
$secondory_gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);

//шрифты
* {
  font-family: 'Roboto', sans-serif;
}

.title{
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
}

.smalltitle{
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
}
.sub_title{
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}
.butn_text{
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

@media (max-width:639px) {
  .title{
    font-size: 24px;
  }
  .smalltitle{
    font-size: 24px;
  }
  .sub_title{
    font-size: 24px;
  }
  .butn_text{

  }
}





.watch {
  font-weight: 700;
  font-size: 107px;
  line-height: 75%;
}
@media (max-width:1399px) {
  .watch{
    font-size: 85px;
  }
}
@media (max-width:999px) {
  .watch{
    font-size: 54px;
  }
}

h3{
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
}
h4{
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

a{
  &:link {
    color: $color_secondory;
  }
  &:visited {
    color: $color_secondory;
  }
  &:hover {
    color: $color_hover;
    transition: 400ms;
  }
  &:active {
    color: $color_active;
    transition: 400ms;
  }
}

@mixin btn {
  background: $color_accent;
  height: 54px;
  width: 298px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: $color_secondory;
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin btn_text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}

@mixin text{
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
@mixin text_small {
  font-weight: 400;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}

@mixin btnInt {
  &:hover {
    background: $color_hover;
  }
  &:active {
    background: $color_active;
    transition: 400ms;
  }
}

//контейнеры

.container{
  max-width: 72.5vw;
}

@media (max-width:1439px) {
  .container{
    max-width: 94vw;
  }
}

@media (max-width:999px) {
  .container{
    max-width: 94vw;
  }
}

//logotip


.logocontainer{
  color: white;
  width: 82px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px;
  &:hover {
    border: 1px solid $color_hover;
  }
  & a{
    &:link {
      color: white;
    }
    &:visited {
      color: white;
    }
    &:hover {
      color: white;
    }
    &:active {
      color: white;
    }
    & .logo{
      font-family: 'Roboto';
      font-style: normal;
      text-align: center;
      & div {
        position: relative;
        &::before{
          content: '';
          position: absolute;
          width: 21px;
          height: 21px;
          background: url('/Online-zoo/assets/icons/bamboo.svg') no-repeat;
          left: 3px;
          top: -5px;
          overflow: visible;
        }
      }
    }
  }
}

@media (max-width:999px) {
  .logocontainer{
    transform: scale(85%);
    border: none;
  }
}

.logocontainer_footer{
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  color: white;
  width: 82px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px;
  &:hover {
    border: 1px solid $color_hover;
  }
  & a{
    &:link {
      color: white;
    }
    &:visited {
      color: white;
    }
    &:hover {
      color: white;
    }
    &:active {
      color: white;
    }
    & .logo{
      font-family: 'Roboto';
      font-style: normal;
      text-align: center;
      & div {
        position: relative;
        &::before{
          content: '';
          position: absolute;
          width: 21px;
          height: 21px;
          background: url('/Online-zoo/assets/icons/bamboo.svg') no-repeat;
          left: 6px;
          top: -4px;
          overflow: visible;
        }
      }
    }
  }
}

@media (max-width:999px) {
  .logocontainer_footer{
    transform: scale(90%);
  }
}
@media (max-width:639px) {
  .logocontainer_footer{
    border: none;
    transform: scale(100%);
    & .logo {
      display: flex;
      & div {
        padding-left: 10px;
      }
    }
  }
}

