@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

* {
  font-family: 'Roboto', sans-serif; }

.watch {
  font-weight: 700;
  font-size: 107px;
  line-height: 75%; }

@media (max-width: 1399px) {
  .watch {
    font-size: 85px; } }

@media (max-width: 999px) {
  .watch {
    font-size: 54px; } }

h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%; }

h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%; }

h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%; }

a:link {
  color: white; }

a:visited {
  color: white; }

a:hover {
  color: #E47209;
  transition: 400ms; }

a:active {
  color: green;
  transition: 400ms; }

.container {
  max-width: 72.5vw; }

@media (max-width: 1439px) {
  .container {
    max-width: 94vw; } }

@media (max-width: 999px) {
  .container {
    max-width: 94vw; } }

.logocontainer {
  color: white;
  width: 82px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px; }
  .logocontainer:hover {
    border: 1px solid #E47209; }
  .logocontainer a:link {
    color: white; }
  .logocontainer a:visited {
    color: white; }
  .logocontainer a:hover {
    color: white; }
  .logocontainer a:active {
    color: white; }
  .logocontainer a .logo {
    font-family: 'Roboto';
    font-style: normal;
    text-align: center; }
    .logocontainer a .logo div {
      position: relative; }
      .logocontainer a .logo div::before {
        content: '';
        position: absolute;
        width: 21px;
        height: 21px;
        background: url("/Online-zoo/assets/icons/bamboo.svg") no-repeat;
        left: 3px;
        top: -5px;
        overflow: visible; }

@media (max-width: 999px) {
  .logocontainer {
    transform: scale(90%);
    border: none; } }

.logocontainer_footer {
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  color: white;
  width: 82px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px; }
  .logocontainer_footer:hover {
    border: 1px solid #E47209; }
  .logocontainer_footer a:link {
    color: white; }
  .logocontainer_footer a:visited {
    color: white; }
  .logocontainer_footer a:hover {
    color: white; }
  .logocontainer_footer a:active {
    color: white; }
  .logocontainer_footer a .logo {
    font-family: 'Roboto';
    font-style: normal;
    text-align: center; }
    .logocontainer_footer a .logo div {
      position: relative; }
      .logocontainer_footer a .logo div::before {
        content: '';
        position: absolute;
        width: 21px;
        height: 21px;
        background: url("/Online-zoo/assets/icons/bamboo.svg") no-repeat;
        left: 3px;
        top: -4px;
        overflow: visible; }

@media (max-width: 999px) {
  .logocontainer_footer {
    transform: scale(90%); } }

header {
  background-color: black;
  z-index: 1;
  position: relative; }

.header_container {
  margin: 0 auto;
  height: 80px;
  display: flex;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  align-items: center; }

@media (max-width: 999px) {
  .header_container {
    height: 40px; } }

.logo_head {
  margin-right: 63px; }

.header_nav {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .header_nav ul {
    display: flex;
    align-items: center; }
    .header_nav ul li {
      padding-right: 58px; }
      .header_nav ul li.open {
        color: #FE9013; }

.header_autor {
  justify-self: end;
  width: 120px; }

@media (max-width: 999px) {
  .header_nav {
    display: none; } }

.watch {
  background-image: url("/Online-zoo/assets/images/Giant Panda.png");
  background-position: -50px -120px;
  background-size: 110%;
  background-repeat: no-repeat;
  margin: 0 auto; }

.watch_content {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  text-transform: uppercase; }

.watch_text {
  padding: 0px;
  z-index: 1;
  margin-top: 86px;
  width: 500px;
  color: white;
  text-align: center; }
  .watch_text span {
    color: #FFEE2E; }

.watch_circle {
  z-index: 0;
  position: absolute;
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  margin-top: 12px;
  transform: translate(-110px, 0); }

.watch_btn {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  height: 54px;
  width: 298px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin-top: 60px;
  margin-bottom: 100px; }
  .watch_btn:hover {
    background: #E47209; }
  .watch_btn:active {
    background: green;
    transition: 400ms; }

@media (max-width: 1439px) {
  .watch {
    background-size: cover;
    background-position: center; }
  .watch_content .watch_text {
    margin-right: 85px;
    margin-top: 43px; }
  .watch_content .watch_circle {
    width: 367px;
    height: 367px;
    transform: translate(-150px, -25px); }
  .watch_content .watch_btn {
    margin-top: 40px;
    margin-bottom: 47px; } }

@media (max-width: 999px) {
  .watch {
    font-size: 54px; }
    .watch .watch_content .watch_text {
      margin-right: 0px;
      margin-top: 43px;
      width: 250px;
      margin-bottom: 86px; }
    .watch .watch_content .watch_circle {
      width: 237.6px;
      height: 237.6px;
      transform: translate(-50px, 0px); }
    .watch .watch_content .watch_btn {
      margin-top: 0px;
      margin-bottom: 0px;
      position: absolute;
      left: 4vw; } }

.info {
  background-image: url("/Online-zoo/assets/images/flower_foto1.png");
  background-repeat: no-repeat;
  background-position: 102% center;
  background-size: 25vh;
  overflow: visible;
  color: #333B41; }

@media (max-width: 1439px) {
  .info {
    background: none; } }

.info_Container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 160px;
  padding-top: 120px; }

.info_foto {
  flex: 0 1 52%;
  height: 408px;
  background-image: url("/Online-zoo/assets/images/bamboo-cap.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.info_text_wraper {
  flex: 0 1 47%;
  padding-left: 87px; }

.info_text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%; }

.info_subtitle {
  margin-top: 54px; }

.info_small_text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%; }

@media (max-width: 1439px) {
  .info_Container {
    padding-top: 100px;
    padding-bottom: 140px; }
  .info_foto {
    flex: 0 1 45%; } }

@media (max-width: 1439px) {
  .info_text_wraper {
    flex: 0 1 50%;
    padding-left: 0px;
    padding-right: 100px; } }

@media (max-width: 1180px) {
  .info_text_wraper {
    flex: 0 1 50%;
    padding-left: 0px;
    padding-right: 0px; } }

@media (max-width: 999px) {
  .info {
    background-image: url("/Online-zoo/assets/images/flower_foto1.png");
    background-repeat: no-repeat;
    background-position: 104% center;
    background-size: 18vh; }
  .info_Container {
    padding-bottom: 80px;
    padding-top: 60px; }
  .info_subtitle {
    margin-top: 30px; }
  .info_foto {
    display: none; }
  .info_text_wraper {
    flex: 0 1 80%; }
  .info_text {
    margin-top: 20px; } }

.animals {
  background: url("/Online-zoo/assets/images/strelitzia 1.png") right bottom no-repeat, url("/Online-zoo/assets/images/palm_foto.png") left bottom no-repeat; }

@media (max-width: 1439px) {
  .animals {
    background-size: 30vh; } }

.animals_container {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; }

.animals_slider_row1 {
  max-width: 1180px;
  overflow: hidden;
  display: flex;
  padding-top: 10px; }

.animals_slider_row1::-webkit-scrollbar {
  display: none; }

.animals_card {
  flex: 1 0 auto;
  border: 1px solid orange;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 15px; }
  .animals_card:hover {
    overflow: visible;
    border: none;
    transition: all 0.4s ease;
    transform: scale(1.05);
    border-radius: 10px; }
    .animals_card:hover .animals_card_foto {
      overflow: visible;
      border-radius: 10px; }
      .animals_card:hover .animals_card_foto::before {
        overflow: visible;
        border-radius: 10px;
        opacity: 1; }
    .animals_card:hover .animals_card_text {
      transition: all 0.4s ease;
      transform: translateY(-60px);
      color: white; }

.animals_card_foto {
  background: url("/Online-zoo/assets/images/Rectangle 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 366px;
  height: 366px;
  position: relative;
  border-radius: 10px; }
  .animals_card_foto::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    border-radius: 10px; }

.animals_card_text {
  padding: 8px 12px 14px 16px;
  display: flex;
  justify-content: space-between; }

.animals_card_name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%; }

.animals_card_location {
  font-weight: 400;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%; }

.animals_card_icon {
  width: 40px;
  height: 40px;
  background: url("/Online-zoo/assets/icons/banana-bamboo_icon.svg") no-repeat; }

.animals_btns {
  position: absolute;
  top: 38%;
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: space-between; }

.animals_slider_btn {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  height: 54px;
  width: 298px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .animals_slider_btn:hover {
    background: #E47209; }
  .animals_slider_btn:active {
    background: green;
    transition: 400ms; }

.row2 {
  margin-top: 20px; }

@media (max-width: 1439px) {
  .animals_btns {
    position: static;
    justify-content: center;
    padding: 15px 0;
    max-width: 80vw; }
  .animals_card_foto {
    width: 294px;
    height: 294px; }
  .row2 {
    margin-top: 0px; }
  .animals_slider_btn {
    margin: 0 85px; }
  .animals_container {
    position: relative; }
  .animals_slider_row1 {
    max-width: 970px; } }

@media (max-width: 999px) {
  .animals {
    background-size: 18vh; }
  .animals_btns {
    justify-content: center;
    padding: 15px 0;
    max-width: 80vw;
    margin-left: 10px; }
  .animals_slider_btn {
    margin: 0 15px; }
  .animals_slider_row1 {
    max-width: 640px; } }

.btn_choose {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  height: 54px;
  width: 298px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  height: 54px;
  width: 298px;
  border-radius: 25px;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 100px; }
  .btn_choose:hover {
    background: #E47209; }
  .btn_choose:active {
    background: green;
    transition: 400ms; }

@media (max-width: 1439px) {
  .btn_choose {
    margin-top: 80px;
    margin-bottom: 140px; } }

.feed {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding-top: 70px;
  padding-bottom: 100px; }

@media (max-width: 1439px) {
  .feed {
    padding-bottom: 50px;
    padding-top: 30px; } }

.feedContent {
  margin: 0 auto;
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  padding-left: 99px;
  padding-top: 41px;
  padding-right: 58px;
  padding: 41px 58px 58px 99px;
  color: #333B41; }

.feed_title {
  color: #FE9013;
  text-align: center; }

.feed_paragrah {
  margin-top: 30px; }

.feed_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-top: 40px; }

.feed_small_text {
  font-weight: 400;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  margin-top: 10px; }
  .feed_small_text a {
    text-decoration: underline;
    text-decoration-color: #FE9013;
    color: #333B41; }

.feed_title_img {
  margin-top: 60px;
  text-align: center; }

.feed_how {
  margin-top: 40px;
  display: flex;
  justify-content: center; }

.strela {
  margin-right: 30px;
  padding-top: 54px; }

.feed_button {
  margin-top: 60px;
  display: flex;
  justify-content: center; }
  .feed_button button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    height: 54px;
    width: 298px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px; }
    .feed_button button:hover {
      background: #E47209; }
    .feed_button button:active {
      background: green;
      transition: 400ms; }

.feed_card {
  width: 168px;
  margin-right: 30px; }
  .feed_card:last-child {
    margin-right: 0px; }
  .feed_card .text {
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%; }
  .feed_card .icon1 {
    background-image: url("/Online-zoo/assets/icons/pay.svg"); }
  .feed_card .icon2 {
    background-image: url("/Online-zoo/assets/icons/zoo.svg"); }
  .feed_card .icon3 {
    background-image: url("/Online-zoo/assets/icons/monkey.svg"); }
  .feed_card .icon {
    position: relative;
    width: 168px;
    height: 168px;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    border-radius: 5px;
    border: 1px solid #FE9013; }

@media (max-width: 1440px) {
  .feedContent {
    padding: 30px 48px 50px; } }

@media (max-width: 999px) {
  .feed {
    padding: 20px 0; }
  .feedContent {
    padding: 10px 20px 60px;
    max-width: 100vw; }
  .strela {
    display: none; }
  .feed_card {
    margin-right: 42px; }
  .feed_paragrah {
    margin-top: 20px; }
  .feed_text {
    margin-top: 20px; }
  .feed_small_text {
    margin-top: 10px; }
  .feed_title_img {
    margin-top: 30px; }
  .feed_how {
    margin-top: 20px; }
  .feed_button {
    margin-top: 40px; } }

.reviews {
  background-image: url("/Online-zoo/assets/images/leav_foto.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  overflow: visible;
  z-index: -2; }

.reviews_container {
  margin: 0 auto;
  overflow: hidden;
  padding-top: 140px; }

.reviews_title {
  text-align: center; }

.reviews_sliader {
  padding-top: 30px;
  height: 450;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: auto; }
  .reviews_sliader::-webkit-scrollbar {
    height: 8px;
    border-radius: 5px;
    border: 1px solid #FE9013; }
  .reviews_sliader::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #FE9013; }
  .reviews_sliader::-webkit-scrollbar-track {
    background: black;
    border: 4px solid transparent;
    background-clip: content-box; }

.reviews_card {
  flex: 0 0 auto;
  width: 266px;
  height: 391px;
  margin: 10px 24px 20px 5px;
  padding: 16px;
  position: relative;
  background: #F1F3F2;
  border-radius: 20px; }
  .reviews_card::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    border-radius: 20px;
    z-index: -1; }

.reviews_card_title {
  display: flex; }
  .reviews_card_title .icon {
    width: 37px;
    height: 37px;
    background-repeat: no-repeat; }
  .reviews_card_title .icon1 {
    background-image: url("/Online-zoo/assets/icons/user_icon.svg"); }
  .reviews_card_title .icon2 {
    background-image: url("/Online-zoo/assets/images/Ellipse 2.png"); }
  .reviews_card_title .icon3 {
    background-image: url("/Online-zoo/assets/images/Ellipse 3.png"); }
  .reviews_card_title .icon4 {
    background-image: url("/Online-zoo/assets/images/Ellipse 4.png"); }

.reviews_card_name {
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%; }

.reviews_card_text {
  font-weight: 400;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  margin-top: 11px;
  color: #767474; }

.reviews_button {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  height: 54px;
  width: 298px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 31px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .reviews_button:hover {
    background: #E47209; }
  .reviews_button:active {
    background: green;
    transition: 400ms; }

@media (max-width: 1440px) {
  .reviews_container {
    padding-top: 100px; }
  .reviews_button {
    margin-top: 52px;
    margin-bottom: 140px; }
  .reviews_card {
    margin: 10px 20px 20px 5px;
    width: 293px;
    height: 391px; } }

@media (max-width: 999px) {
  .reviews {
    background-size: 10vh; }
  .reviews_container {
    padding-top: 60px; }
  .reviews_sliader {
    display: block;
    overflow: hidden;
    height: 390px; }
  .reviews_card {
    flex: 0 0 auto;
    width: 99%;
    height: 108px;
    margin: 3px 2px 15px 4px;
    padding: 13px 15px 1px 15px;
    position: relative;
    background: #F1F3F2;
    border-radius: 20px; }
  .reviews_card_wraper {
    height: 100%;
    overflow: hidden; }
  .reviews_button {
    right: 50%;
    margin: 40px auto 80px; } }

.footer {
  background-color: #000000;
  padding: 40px 0px 50px; }

.footer_container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 85px 1fr 140px;
  grid-row-gap: 36px; }

.footer_logo {
  grid-row: 1;
  grid-column: 1 / 2; }

.footer_submit {
  grid-row: 1;
  grid-column: 3 / 5;
  justify-self: end; }

.footer_donate {
  grid-row: 2;
  justify-self: start;
  align-self: center; }

.footer_social {
  grid-row: 3;
  justify-self: start;
  align-self: end; }

.footer_nav {
  grid-row: 3;
  grid-column: 2 / 4;
  justify-self: center;
  align-self: end; }

.footer_autor {
  grid-row: 3;
  grid-column: 4 / 5;
  justify-self: end;
  align-self: end; }

.footer_submit {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer_submit .subscribe_input h4 {
    color: white; }
  .footer_submit .subscribe_input .input {
    display: flex;
    align-items: center;
    margin-top: 14px; }
  .footer_submit .subscribe_input input {
    width: 228px;
    height: 42px;
    border: 1px solid #FE9013;
    border-radius: 2px;
    padding: 10px;
    background-color: #000000;
    color: #BDBDBD;
    margin-right: 10px; }
  .footer_submit .subscribe_input button {
    width: 129px;
    height: 42px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    background-color: #F1F3F2;
    border: 1px solid #333B41; }
    .footer_submit .subscribe_input button:hover {
      color: #E47209;
      border: 1px solid #E47209; }
    .footer_submit .subscribe_input button:active {
      color: green;
      border: 1px solid green;
      transition: 400ms; }

.donate_button {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  height: 54px;
  width: 298px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px; }
  .donate_button:hover {
    background: #E47209; }
  .donate_button:active {
    background: green;
    transition: 400ms; }

.social ul {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px; }

.footer_nav {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: flex-end;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: white; }
  .footer_nav nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    .footer_nav nav ul .open {
      color: #E47209; }
  .footer_nav .author {
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: white; }

.social_link {
  display: flex;
  align-items: center; }
  .social_link:hover {
    color: #E47209; }
    .social_link:hover .social_cyrcle {
      background-color: #E47209; }
  .social_link:active {
    color: green; }
    .social_link:active .social_cyrcle {
      background-color: green; }
  .social_link .social_cyrcle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    margin-right: 12px; }
    .social_link .social_cyrcle svg {
      fill: #FFFFFF; }

@media (max-width: 999px) {
  .subscribe_input {
    display: none; } }

@media (max-width: 999px) {
  .footer_container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 36px; }
  .footer_logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2; }
  .footer_submit {
    display: none; }
  .footer_donate {
    grid-row: 2;
    justify-self: start;
    align-self: start; }
  .footer_social {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;
    width: 26px;
    height: 164px; }
    .footer_social span {
      display: none; }
  .footer_nav {
    grid-row: 3;
    grid-column: 1 / 3;
    justify-self: start;
    align-self: end; }
  .footer_autor {
    grid-row: 3;
    grid-column: 2 / 3;
    justify-self: end;
    align-self: end; } }

.footer {
  background-color: #000000;
  padding: 40px 0px 50px; }

.footer_container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 85px 1fr 140px;
  grid-row-gap: 36px; }

.footer_logo {
  grid-row: 1;
  grid-column: 1 / 2; }

.footer_submit {
  grid-row: 1;
  grid-column: 3 / 5;
  justify-self: end; }

.footer_donate {
  grid-row: 2;
  justify-self: start;
  align-self: center; }

.footer_social {
  grid-row: 3;
  justify-self: start;
  align-self: end; }

.footer_nav {
  grid-row: 3;
  grid-column: 2 / 4;
  justify-self: center;
  align-self: end; }

.footer_autor {
  grid-row: 3;
  grid-column: 4 / 5;
  justify-self: end;
  align-self: end; }

.footer_submit {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer_submit .subscribe_input h4 {
    color: white; }
  .footer_submit .subscribe_input .input {
    display: flex;
    align-items: center;
    margin-top: 14px; }
  .footer_submit .subscribe_input input {
    width: 228px;
    height: 42px;
    border: 1px solid #FE9013;
    border-radius: 2px;
    padding: 10px;
    background-color: #000000;
    color: #BDBDBD;
    margin-right: 10px; }
  .footer_submit .subscribe_input button {
    width: 129px;
    height: 42px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    background-color: #F1F3F2;
    border: 1px solid #333B41; }
    .footer_submit .subscribe_input button:hover {
      color: #E47209;
      border: 1px solid #E47209; }
    .footer_submit .subscribe_input button:active {
      color: green;
      border: 1px solid green;
      transition: 400ms; }

.donate_button {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  height: 54px;
  width: 298px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px; }
  .donate_button:hover {
    background: #E47209; }
  .donate_button:active {
    background: green;
    transition: 400ms; }

.social ul {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px; }

.footer_nav {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: flex-end;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: white; }
  .footer_nav nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    .footer_nav nav ul .open {
      color: #E47209; }
  .footer_nav .author {
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: white; }

.social_link {
  display: flex;
  align-items: center; }
  .social_link:hover {
    color: #E47209; }
    .social_link:hover .social_cyrcle {
      background-color: #E47209; }
  .social_link:active {
    color: green; }
    .social_link:active .social_cyrcle {
      background-color: green; }
  .social_link .social_cyrcle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    margin-right: 12px; }
    .social_link .social_cyrcle svg {
      fill: #FFFFFF; }

@media (max-width: 999px) {
  .subscribe_input {
    display: none; } }

@media (max-width: 999px) {
  .footer_container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 36px; }
  .footer_logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2; }
  .footer_submit {
    display: none; }
  .footer_donate {
    grid-row: 2;
    justify-self: start;
    align-self: start; }
  .footer_social {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;
    width: 26px;
    height: 164px; }
    .footer_social span {
      display: none; }
  .footer_nav {
    grid-row: 3;
    grid-column: 1 / 3;
    justify-self: start;
    align-self: end; }
  .footer_autor {
    grid-row: 3;
    grid-column: 2 / 3;
    justify-self: end;
    align-self: end; } }

.panda {
  background-image: url("/Online-zoo/assets/images/Giant Panda.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 390px; }

.donate {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding-top: 40px;
  padding-bottom: 180px; }

.donate_container {
  margin: 0 auto; }

.donate_info_title {
  color: white; }

.donate_info_text {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-top: 10px;
  text-align: left; }

.donate_title {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #FE9013;
  margin-top: 40px; }

.donate_wraper {
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  margin-top: 60px;
  padding: 40px 5vw 62px; }

.donate_feed_title {
  color: #FE9013;
  text-align: center; }

.donate_feed_text {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin-top: 20px;
  text-align: center; }

.donate_info_infographics {
  padding-top: 80px;
  margin: 0 auto;
  width: 532px;
  display: flex;
  align-items: center;
  justify-content: center; }

.infographics_contaner {
  margin-right: 10px;
  text-align: center; }

.infographics_day {
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%; }

.infographics_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41; }

.infographics_x {
  margin-top: 40px;
  background: url("/Online-zoo/assets/icons/x_icon.png") no-repeat;
  background-position: center;
  width: 14px;
  height: 14px;
  margin-right: 64px; }

.infographics_svg {
  width: 284px;
  height: 246px;
  background: url("/Online-zoo/assets/icons/panda_svg.svg") no-repeat;
  background-position: center; }

.donate_pagination {
  margin: 10px 0; }

.line_container {
  z-index: -1;
  width: 60vw;
  height: 27px;
  position: absolute;
  background-color: #404950;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 2px; }
  .line_container .line {
    width: 100%;
    height: 2px;
    background: #72828E;
    border-radius: 2px; }

.dots_label {
  position: relative;
  color: #333B41; }
  .dots_label svg {
    fill: #929699; }
  .dots_label:hover {
    color: #FE9013; }
    .dots_label:hover svg {
      fill: #FE9013; }

.dot_radio {
  display: none; }

.dots_container {
  width: 60vw;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 27px; }

.dot {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFEE2E;
  position: relative; }
  .dot::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 2px solid #E47209;
    outline-offset: -10px;
    border: 2px solid #E47209;
    opacity: 0;
    transition: 200ms; }

.sum {
  display: flex;
  align-items: center;
  position: absolute;
  transform: translate(0px, 20px);
  margin-left: -30px;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%; }

.dot_radio:checked + .dot::before {
  opacity: 1; }

.input_money {
  width: 400px;
  margin: 0 auto;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .input_money form {
    display: flex;
    flex-direction: column;
    align-items: center; }

.amount {
  margin-top: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding: 5px; }

.pay_container {
  width: 268px;
  height: 54px;
  border: 1px solid #929699;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%; }

.pay_input {
  padding-left: 10px;
  height: 54px;
  border: 0px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0); }

.dollar {
  padding-right: 10px; }

.donate_format_pay {
  width: 268px;
  margin-top: 25px;
  display: flex;
  justify-content: space-around; }
  .donate_format_pay label {
    display: flex;
    align-items: center; }

.format_pay {
  display: none; }

.input_radio {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #FE9013;
  position: relative; }
  .input_radio::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 16px;
    height: 16px;
    background-color: green;
    border-radius: 50%;
    opacity: 0;
    transition: 200ms; }

.format_pay:checked + .input_radio::before {
  opacity: 1; }

.input_text {
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41; }

.donate_feed_footer {
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: black; }

.btn_feed {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  height: 54px;
  width: 298px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin-top: 30px; }
  .btn_feed:hover {
    background: #E47209; }
  .btn_feed:active {
    background: green;
    transition: 400ms; }

@media (max-width: 1439px) {
  .line_container {
    width: 84vw; }
  .dots_container {
    width: 84vw; }
  .dots_label:nth-child(-1n+3) {
    display: none; } }
